<h1>| Conversemos |</h1>
<body>
    <section class="form-register">
    <h4>Deja tus datos y comentario</h4>
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
        <input class="controls" type="text" name="apellidos" id="nombres" placeholder="Ingrese su apellido">
        <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su correo">
        <input class="coment" type="text" name="comentario" id="correo" placeholder="Ingrese su comentario">
        <input class="buttons" type="submit" value="Dejar comentario">
        <p><a href="#"¿Ya tengo Cuenta?></a></p>
    </section>

</body>